/Java/mavenproject1/target/
/Java/exercicioTela/target/
/Java/exercicioCalculadora/target/
/Java/JavaApplication1/nbproject/private/
/Java/exercicioBanco1/nbproject/private/
/Java/exercicioBanco/nbproject/private/
/Java/exercicioBanco/build/
/Java/situacaoProblema/nbproject/private/
/Java/situacaoProblema/build/
